# Build
build/

# C++ compiled files
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.d
*.slo
*.lo
*.gch
*.pch
*.lai
*.la
*.exe
*.out
*.app

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
cmake-build*/
CMakeSettings.json
*.xcworkspace
xcuserdata/

# Visual Studio generated
*.sln
*.vcxproj

# Xcode DerivedData
DerivedData/
